<div style="
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
			font-size: 16px;
			line-height: 1.5em;
			color: #fff;
			background-color: #000;
			height: 100vh;
			padding: 10px;
			margin:0;">
	{{{ body }}}
	{{> footer}}
</div>
